.card {
    width: 250px;
    margin: 10px;
    padding: 10px;
    display: inline-block;

}

.card .card_button {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}